@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

button {
    cursor: pointer;
}

.container {
    height: 100vh;
    width: 100%;
}

.container__landing {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.landing {
    width: 80%;
    margin: auto;
}

.quiz-hero {
    text-align: center;
}

.quiz-hero > h1 {
    font-size: 5rem;
}

.quiz-hero__description {
    padding: 1.2rem;
    font-size: 2.5rem;
}

.quiz-hero__btn > button {
    background-color: #6f64ed;
    width: 30%;
    padding: 1rem;
    margin-top: 1rem;
    font-size: 1.2rem;
    text-align: center;
    border: none;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

.quiz-hero__btn > button:hover {
    background-color: #3b3e9c;
}

/* user details designing starts here */
.user-landing {
    width: 60%;
    margin: auto;
}

.user-landing h1 {
    font-size: 3.5rem;
}

#user-form {
    margin-top: 3rem;
}

.user-form__label {
    display: block;
    margin-bottom: 0.8rem;
    font-size: 1.2rem;
}

.user-form__input {
    display: block;
    width: 70%;
    padding: 1rem;
    margin-top: 1.5rem;
}

#user-form button {
    background-color: #6f64ed;
    padding: 0.8rem 2rem;
    font-size: 1.2rem;
    font-weight: 500;
    margin-top: 2rem;
    text-align: center;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
}

#user-form button:hover {
    background-color: #3b3e9c;
}

.topic-landing {
    width: 60%;
    margin: auto;
}

.topic-landing h1 {
    font-size: 3.2rem;
}

.topic__section {
    width: 100%;
    padding: 2rem;
    border: 2px solid rgba(0, 0, 0, 0.4);
    margin: 2rem 0;
    cursor: pointer;
    border-radius: 10px;
    font-size: 1.5rem;
    font-weight: 500;
}

.topic__section[aria-selected="false"] {
    background-color: #fff;
}

.topic__section[aria-selected="true"] {
    background-color: #3b3e9c;
    color: #fff;
}

#topic-body > h2 {
    font-size: 1.6rem;
}


#quiz_start_btn {
    background-color: #80F0DE;
    padding: 0.8rem 2rem;
    font-size: 1.2rem;
    font-weight: 500;
    margin-top: 2rem;
    text-align: center;
    border: none;
    border-radius: 5px;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    cursor: pointer;
}

#quiz_start_btn:hover {
    background-color: #75DCC5;
    box-shadow: none;
}

/* displaying the quiz section now */
.quiz-landing {
    width: 70%;
    margin: auto;
}

#timer {
    text-align: center;
    font-size: 1.5rem;
    margin: 1.2rem 0;
}

#quiz-question-id {
    text-align: center;
    font-size: 1.8rem;
    margin: 1.2rem;
}

.quiz__question {
    display: block;
    text-align: center;
    margin: 1.2rem;
    margin-bottom: 5rem;
}

.row {
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.row div {
    border: 1px solid #000;
    width: 40%;
    cursor: pointer;
    padding: 1rem;
    padding-left: 1.5rem;
    border-radius: 10px;
}

.row div[aria-selected="true"] {
    background-color: #3b3e9c;
    color: #fff;
}

.quiz__buttons {
    display: flex;
    flex-direction: row-reverse;
}

.quiz__buttons {
    margin-top: 2rem;
}

.quiz__next-btn {
    background-color: #e2e8f0;
    padding: 0.8rem 2rem;
    font-weight: 700;
    color: #000;
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

.quiz__next-btn:hover {
    background-color: #cbd5e1;
    box-shadow: none;

}

/* for the results section */
.results__section {
    font-size: 3rem;
    font-weight: 700;
}

/* this is for displaying the error */
#error {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 0.5rem 1.5rem;
    z-index: 1000;
    border: 1px solid #ff7575;
    background-color: #fff1f1;
    color: #600000;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#error button {
    border: none;
    background-color: transparent;
    color: #000;
    cursor: pointer;
    z-index: 1001;
}


